
  
  .side-navigation {
    /* flex: 1; */
    /* background-color: #7f00ff; */
    margin-right: 0; /* Set margin-right to 0 to remove right margin */
    margin-left: 50px;
  }
  
  .side-navigation ul {
    list-style: none;
    padding: 0;
  }
  
  .side-navigation li {
    margin-bottom: 10px;
    cursor: pointer;
  }

  /* Style for the side navigation */
.side-navigation ul {
  list-style: none;
  padding: 0;
}

.side-navigation li {
  margin: 0;
}

/* Style for the links */
.side-navigation a {
  text-decoration: none; /* Remove underlining */
  display: block;
  padding: 5px;
  /* border: 1px solid #ccc; Add a box */
  
  color: #000; /* Default color */
}
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo img {
  max-width: 15px;
  height: auto;
}

.logos {
  display: flex;
  align-items: center;
  margin-bottom: 90px;

}

.logos img {
  width: 200px;
  height: 100px;
  transition: transform 0.3s; /* Add a transition for smooth effect */
}


.logos img:hover {
  transform: scale(1.1); /* Apply a scale transform on hover */
/* Initially transparent */
;
}



