.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f1f1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 800px;
  margin-top: 40px;
  background-color: rgb(56, 60, 100);
  box-shadow: 1px 1px 8px 2px #ffc4c45d;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.quiz-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-options {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 85%;
  border-radius: 15px;
  padding: 10px;
}

.quiz-options ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

.option {
  cursor: pointer;
  width: 95%;
  background-color: #868686;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;  
  padding-left: 20px;
  color: white;
  transition: ease-in 0.5s;
}
.option:hover {
  transition: 0.5s;
  background-color: rgb(56, 60, 100); 
}

p{
  text-align: left;
}


